# Auto detect text files and perform LF normalization
* text=auto

# Markdown
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Shell scripts
*.sh text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.epub binary
